In [1]:
#IMPORTING LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#IGNORE HARMLESS WARNINGS
import warnings
warnings.filterwarnings("ignore")
#SET TO DISPLAY AALL COLUMNS IN DATA SET
pd.set_option("display.max_columns",None)
import pandasql as psql

In [2]:
condata=pd.read_csv(r"C:\Users\R Sobha Supriya\Desktop\internship datsets&files\Concrete_Data_V1.0.csv",header=0)
con_bk=condata.copy()
condata.head()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
condata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1030 non-null   float64
 1   Slag              1030 non-null   float64
 2   Flyash            1030 non-null   float64
 3   Water             1030 non-null   float64
 4   SuperPlasticizer  1030 non-null   float64
 5   CoarseAggregate   1030 non-null   float64
 6   FineAggregate     1030 non-null   float64
 7   Age               1030 non-null   int64
 8   CSinMPa           1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [4]:
#display shape
condata.shape

(1030, 9)

In [5]:
CSinMPa_UL=round(condata.CSinMPa.mean()+3*condata.CSinMPa.std(),3)
CSinMPa_LL=round(condata.CSinMPa.mean()-3*condata.CSinMPa.std(),3)
concrete_new=condata[(condata.CSinMPa>CSinMPa_LL) & (condata.CSinMPa<CSinMPa_UL)]
concrete_bk=concrete_new
concrete_new.shape

(1030, 9)

In [6]:
#checking duplicate values
condata.duplicated().any()

True

In [7]:
#identify missing values
condata.isnull().sum()

Cement              0
Slag                0
Flyash              0
Water               0
SuperPlasticizer    0
CoarseAggregate     0
FineAggregate       0
Age                 0
CSinMPa             0
dtype: int64

In [8]:
#display descriptive STAISTICS
concrete_new.describe()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
#NO COLS can be declared  AS IT USWED FOR ENTIRE Data
#Identify the independent and Target (dependent) variable
IndepVar = []
for col in condata.columns:
    if col != 'CSinMPa':
        IndepVar.append(col)

TargetVar = 'CSinMPa'
x = condata[IndepVar]
y = condata[TargetVar]

In [10]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Display the shape for train & test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((721, 8), (309, 8), (721,), (309,))

In [11]:
 #Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

#x_train[cols]= mmscaler.fit_transform(x_train[cols])
x_train= mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

#x_test[cols]= mmscaler.fit_transform(x_test[cols])
x_test = mmscaler.fit_transform(x_test)

x_test = pd.DataFrame(x_test)

In [12]:
#multiple regression
# Build the multi regression model

from sklearn.linear_model import LinearRegression  

# Create object for the model

ModelMLR = LinearRegression()

# Train the model with training data

ModelMLR.fit(x_train, y_train)

# Predict the model with test dataset

y_pred = ModelMLR.predict(x_test)

# Evaluation metrics for Regression analysis

from sklearn import metrics
print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
print('Mean Absolute Percentage Error (MAPE):', round(metrics.mean_absolute_percentage_error(y_test, y_pred)*100,3), '%')
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE
result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

Mean Absolute Error (MAE): 8.355
Mean Squared Error (MSE): 111.763
Root Mean Squared Error (RMSE): 10.572
R2_score: 0.58694
Root Mean Squared Log Error (RMSLE): 2.358
Mean Absolute Percentage Error (MAPE): 32.463 %
Mean Absolute Percentage Error (MAPE): 32.463 %
Adj R Square:  0.583703

In [13]:
# In[14]:


#display the final results 
Results = pd.DataFrame({'CSinMPa_A':y_test, 'CSinMPa_P_F':y_pred})
#Merge two Dataframes on index of both the dataframes
ResultsFinal = concrete_bk.merge(Results,left_index=True,right_index=True)
# Calculate the %of Error
#ResultsFinal['%Error'] = round(((ResultsFinal['CSinMPa_A']-ResultsFinal['CSinMPa_P'])/ResultsFinal['CSinMPa_A'])*100,3)
#display 10 records randomly
ResultsFinal.sample(10)

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa,CSinMPa_A,CSinMPa_P_F
118,425.0,106.3,0.0,153.5,16.5,852.1,887.1,28,60.29,60.29,58.747468
918,145.0,0.0,179.0,202.0,8.0,824.0,869.0,28,10.54,10.54,16.426203
998,304.8,0.0,99.6,196.0,9.8,959.4,705.2,28,30.12,30.12,28.864688
534,393.0,0.0,0.0,192.0,0.0,940.6,785.6,3,19.20,19.20,27.227760
703,200.0,133.0,0.0,192.0,0.0,965.4,806.2,28,30.44,30.44,23.674555
365,214.9,53.8,121.9,155.6,9.6,1014.3,780.6,14,38.60,38.60,32.977472
687,236.0,157.0,0.0,192.0,0.0,972.6,749.1,90,47.78,47.78,36.374068
286,181.4,0.0,167.0,169.6,7.6,1055.6,777.8,28,27.77,27.77,26.610841
346,213.7,0.0,174.7,154.8,10.2,1053.5,776.4,28,40.15,40.15,33.781431
602,339.0,0.0,0.0,197.0,0.0,968.0,781.0,90,35.17,35.17,30.543623

In [14]:
#compare classification algorithms
#load the results
RGRResults=pd.read_csv(r"C:\Users\R Sobha Supriya\Desktop\internship datsets&files\RGRResults.csv",header=0)
#display first 5 records
RGRResults.head()

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_score]
Index: []

In [15]:
# Build the Regression / Regressor models

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.neighbors import KNeighborsRegressor
#from sklearn.linear_model import BayesianRidge
#from sklearn.svm import SVR

# Create objects of Regression / Regressor models with default hyper-parameters

ModelMLR = LinearRegression()
ModelDCR = DecisionTreeRegressor()
ModelRFR = RandomForestRegressor()
ModelETR = ExtraTreesRegressor()
#ModelKNN = KNeighborsRegressor(n_neighbors=5)
#ModelBRR = BayesianRidge()
#ModelSVR = SVR()

# Evalution matrix for all the algorithms

#MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR, ModelKNN, ModelBRR, ModelSVR] 
MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR]

for models in MM:
    
    # Fit the model with train data
    
    models.fit(x_train, y_train)
    
    # Predict the model with test data

    y_pred = models.predict(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # Evaluation metrics for Regression analysis

    from sklearn import metrics

    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
    
    # Define the function to calculate the MAPE - Mean Absolute Percentage Error

    def MAPE (y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100
    
    # Evaluation of MAPE 

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')
    
    # Calculate Adjusted R squared values 

    r_squared = round(metrics.r2_score(y_test, y_pred),6)
    adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')
    #-------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'Mean_Absolute_Error_MAE' : metrics.mean_absolute_error(y_test, y_pred),
               'Adj_R_Square' : adjusted_r_squared,
               'Root_Mean_Squared_Error_RMSE' : np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
               'Mean_Absolute_Percentage_Error_MAPE' : result,
               'Mean_Squared_Error_MSE' : metrics.mean_squared_error(y_test, y_pred),
               'Root_Mean_Squared_Log_Error_RMSLE': np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),
               'R2_score' : metrics.r2_score(y_test, y_pred)}
    RGRResults = RGRResults.append(new_row, ignore_index=True)
    #-------------------------------------------------------------------------------------------

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 8.355
Mean Squared Error (MSE): 111.763
Root Mean Squared Error (RMSE): 10.572
R2_score: 0.58694
Root Mean Squared Log Error (RMSLE): 2.358
Mean Absolute Percentage Error (MAPE): 32.46 %
Adj R Square:  0.583703
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 4.923
Mean Squared Error (MSE): 54.029
Root Mean Squared Error (RMSE): 7.35
R2_score: 0.800316
Root Mean Squared Log Error (RMSLE): 1.995
Mean Absolute Percentage Error (MAPE): 17.13 %
Adj R Square:  0.798751
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 3.934
Mean Squared Error (MSE): 32.051
Root Mean Squared Error (RMSE): 5.661
R2_score: 0.881545
Root Mean Squared Log Error (RMSLE): 1.734
Mean Absolute Percentage Error (MAPE): 13.26 %
Adj R Square:  0.880617
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 4.012
Mean Squared Error (MSE): 33.087
Root Mean Squared Error (RMSE): 5.752
R2_score: 0.877716
Root Mean Squared Log Error (RMSLE): 1.75
Mean Absolute Percentage Error (MAPE): 13.1 %
Adj R Square:  0.876758
------------------------------------------------------------------------------------------------------------

In [16]:
RGRResults.head()

,Model Name,Mean_Absolute_Error_MAE,Adj_R_Square,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE,R2_score
0,LinearRegression(),8.354868,0.583703,10.571820,32.462977,111.763381,2.358192,0.586940
1,DecisionTreeRegressor(),4.922816,0.798751,7.350467,17.126493,54.029360,1.994764,0.800316
2,"(DecisionTreeRegressor(max_features=1.0, rando...",3.934148,0.880617,5.661340,13.259189,32.050775,1.733661,0.881545
3,"(ExtraTreeRegressor(random_state=1169397016), ...",4.011823,0.876758,5.752120,13.103492,33.086882,1.749568,0.877716

In [17]:
y_predF=ModelETR.predict(x_test)

In [18]:
# Calculate the %of Error

ResultsFinal['%Error'] = round(((ResultsFinal['CSinMPa_A']-ResultsFinal['CSinMPa_P_F'])/ResultsFinal['CSinMPa_A'])*100,3)

In [19]:
ResultsFinal.sample(5)

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa,CSinMPa_A,CSinMPa_P_F,%Error
485,387.0,20.0,94.0,157.0,14.3,938.0,845.0,28,50.24,50.24,51.398013,-2.305
355,277.2,97.8,24.5,160.7,11.2,1061.7,782.5,14,47.71,47.71,39.220448,17.794
596,170.3,155.5,0.0,185.7,0.0,1026.6,724.3,7,10.73,10.73,19.772005,-84.268
86,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30,35.30,53.030565,-50.228
281,251.4,0.0,118.3,188.5,6.4,1028.4,757.7,28,32.66,32.66,27.168033,16.816